body {
    background-color: black;
    color: white;
    font-family: "Lato", sans-serif;
}
#bottom {
    position: absolute;
    bottom: 2%;
}
.container {
    width: 100%;
    height: 100%;
}
#commandsTitle {
    font-size: 5em;
}
#commandsList {
    font-size: 4em;
}
#forecastTime {
    font-size: 1.5em;
}
#forecastTable {
    padding-top: 30%;
}
.forecast {
    float: center;
    width: 100%;
}
tr:nth-child(2) {
    padding-bottom: 50px;
}
#tableTemp {
    font-size: 1.5em;
}
#tableDate {
    font-size: 3em;
}
#tableTime {
    font-size: 1.75em;
}
#tableIcon {
    font-size: 1.5em;
}
#tableF {
    font-size: 1.5em;
}
#tableAmpm {
    font-size: 0.75em;
}
td {
    padding-left: 5px;
    padding-right: 5px;
}
#time {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 9em;
}
#listening {
    font-size: 4em;
}
#todoist {
    position: absolute;
    bottom: 1%;
    left: 2%;
    font-size: 2em;
    max-width: 50%;
    text-overflow: ellipsis;
}
#todoTitle {
    font-size: 2em;
}
#date {
    font-size: 3em;
    margin: auto;
    padding-top: 15%;
    display: flex;
    justify-content: center;
}
#homeIcon {
    position: absolute;
    top: 25%;
    right: 100%;
    font-size: 0.5em;
}
#homeTemp {
    font-size: 1em;
    position: absolute;
    left: 100%;
    top: 10%;
}
#temp {
    font-size: 9em;
    position: absolute;
    right: 10%; 
    top: 0;
}
input {
    color: black;
}
.music {
    position: absolute;
    right: 1.5%;
    bottom: 1%;
}

.asr {
    margin: auto;
    width: 25%;
    padding-top: 25%;
}
.app {
    float: center;
    z-index: 3000;
    top: 20%;
    animation: showApp linear 4s;
    animation-iteration-count: 1;
}
.maps {
    padding-top: 25%;
    text-align: center;
    font-size: 3em;
}
.notification {
    color: black;
    background-color: white; 
    margin: auto;
    width: 50%;
    max-width: 50%;
    padding: -500px;
    text-overflow: ellipsis;
    position: relative;
    animation: notificationShow linear 7s;
}
#title {
    font-size: 1.5em;
}
#body {
    font-size: 1.25em;
}
#info {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
ul {
    list-style: square;
}
@keyframes notificationShow {
    0%   { top: -500; }
    10%  { top: 0; }
    25%  { top: 0; }
    50%  { top: 0; }
    75%  { top: 0; }
    90%  { top: 0; }
    100% { top: -500; }
}

@keyframes showApp {
    0%   { opacity: 0; transform: scaleY(0.00); }
    10%  { opacity: 1; transform: scaleY(1.00); }
    100% { opacity: 1; transform: scaleY(1.00); }
}