<button id="testBtn" (click)="talk()">Magic Mirror</button>
<!--<button (click)="utterance = 'asr'"> ASR </button>
<button (click)="utterance = 'get today\'s forecast'"> Today's Forecast </button>
<button (click)="utterance = 'get the forecast for the week'"> Week's Forecast </button>
<button (click)="utterance = 'get maps'"> Maps </button>
<button (click)="utterance = 'help'"> Help </button>-->
<tts></tts>
<div [ngSwitch]="utterance">  
  <asr (status)="status = $event" (utterance)="utterance = $event" *ngSwitchCase="'asr'"></asr>
  <hour-forecast *ngSwitchCase="'get today\'s forecast'"></hour-forecast>
  <week-forecast *ngSwitchCase="'get the forecast for the week'"></week-forecast>
  <map *ngSwitchCase="'get maps'"></map>
  <commands *ngSwitchCase="'help'"></commands>
</div>