<button id="testBtn" (click)="triggerKeyword()">Magic Mirror</button>
<button (click)="app = 'music'">Play</button>

<asr (response)="getNLUResponse($event)" *ngIf="app === 'asr'"></asr>
<music *ngIf="app === 'music'"></music>

<div [ngSwitch]="app">
  <hour-forecast *ngSwitchCase="'weather'"></hour-forecast>
  <week-forecast *ngSwitchCase="'weekForecast'"></week-forecast>
  <map [destination]="destination" *ngSwitchCase="'directions'"></map>
  <commands *ngSwitchCase="'help'"></commands>
</div>