.period {
  font-size: 1.75em;
}
td {
  text-align: center;
}
.data {
  font-size: 1.25em;
  padding-left: 15px;
  padding-right: 10px;
}
table {
  float: left;
  margin-left: auto;
  margin-right: auto;
}
#infoTime {
  float: left;
  font-size: 2em;
}
#currentData {
  font-size: 5em;
}
#summary {
  margin-left: auto;
  margin-right: auto;  
  font-size: 2em;
}
#extra {
  margin-left: auto;
  margin-right: auto;  
  float: left;
  font-size: 2em;
}
.chart {
  margin-left: auto;
  margin-right: auto;
  float: left;
  height: 500px;
  width: 700px;
}
.icons {
  font-size: 3em;
  padding-top: 10px;
  padding-bottom: 15px;
}